html, body {
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.header {
    display: flex;
    background-color: grey;
    padding: 10px;
    font-weight: 900;
    background-color:rgb(137, 7, 141);
    color: white;
    box-shadow: 5px 5px 5px #88888883;
    font-size: 32px;
}

#main-body {
    display: flex;
    background-color: white;
    flex-direction: row;
    height: 100%;
}

#sidebar {
    display: flex;
    padding: 16px;
    background-color: rgb(24, 97, 207);
    width: 300px;
    flex-shrink: 0;
    flex-grow: 1;
    max-width: 20vh;
    min-width: 35vh;
    box-shadow: 5px 5px 5px #88888883;
}

#sidebar-text {
    display: flex;
    color: white;
    font-size: 24px;
    
}

.list-child {
    margin: 10px 0;
    list-style-type: none;
}

#g-column {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.g-container {
    display: flex;
    
    width: 100%;
    height: 100%;
    
}

.card {
    border: 0.5px solid rgba(0, 0, 0, 0.329);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 5px 5px 5px #88888883;
    margin: 10px;
    max-width: 40vh;
}

#footer {
    display: flex;
    background-color: rgb(184, 184, 184);
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-size:15px
}